
<ion-content padding style="background-color: #3D4758">
  
  <div class="spacer" style=" height: 100px;"></div>
  <div class="profile-image" >
      <img src="../assets/img/logo_image_en.png" style="display: block; width: 100px; height: 100px; margin-left: auto; margin-right: auto;"/>
  </div>
  <div class="spacer" style=" height: 50px;"></div>
 

    <ion-card style="border: 1px solid gray;" class="raduis-shape">
       
    <ion-row>
      <ion-col width-10>
        <ion-label style="padding-right: 193px;">+966</ion-label>
      </ion-col>
      <ion-col width-80>
        <ion-input type="text" placeholder="Phone Number" style="padding-left: 53px;"></ion-input>
      </ion-col>   
    </ion-row>
    </ion-card>
    <ion-row>
      <ion-col width-30>
        <button ion-button block type="submit"  (click)="goHome()" class="raduis-shape button-red">Login</button>
      </ion-col>
      <ion-col width-30>
        <button ion-button block type="submit"  (click)="goHome()" class="raduis-shape button-red">Sign up</button>
      </ion-col>
    </ion-row>
 


</ion-content>
