<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{tasker.first_name}} profile</ion-title>
   <ion-buttons end>
            <button ion-button icon-only (click)="goHome()">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
  </ion-navbar>
  <ion-toolbar >
        <div padding>
  <ion-segment [(ngModel)]="profilestatus">
    <ion-segment-button value="profile">
      Profile
    </ion-segment-button>
    <ion-segment-button value="review">
      Review
    </ion-segment-button>
  </ion-segment>
</div>
        
  </ion-toolbar>
</ion-header>

<ion-content padding>

<div [ngSwitch]="profilestatus">
      <!--<div id="content" *ngSwitchCase="'profile'" >
        <div id="profile-info">
          <img id="profile-image" [src]="tasker.img">
          <h3 id="profile-name">{{tasker.name}}</h3>
          <p> {{tasker.title}} </p>
          <span id="profile-description">
            Job Descriptions
          </span>
        </div>
        <ion-list>
          <ion-list-header >Details</ion-list-header>
          <ion-item >
            <h2 style="color: dodgerblue">Company Name</h2>
            <p>X-factor</p>
          </ion-item>
        </ion-list>
        </div>-->
        <div class="list card" *ngSwitchCase="'profile'" >
        <ion-item class="profile-item">
          <ion-slides pager>
            <ion-slide >
              <div class="fix-div">
              <div>
                <img  id="profile-image" [src]="tasker.image">
              </div>
              <h2 class="profile-name dark">{{tasker.first_name}}</h2>
              <div class="profile-info">{{tasker.title}}</div>
              </div>
            </ion-slide>
            <ion-slide class="slide-background">
              
              <div class="fix-div">
              
                  about my self 
                
              </div>
              
            </ion-slide>
          </ion-slides>
        </ion-item>
        
        <p>
            I am grass cutter.I have been working for over 30 years on the industry and I guarantee agreat service just look at my reviews. 
        </p>
        <ion-list-header>
          Details
        </ion-list-header>
             
        <ion-item class="profile-item">
         <ion-row>
           <ion-col width-20>
              <ion-icon name="ios-home-outline" ></ion-icon>
           </ion-col>
           <ion-col width-70>
             <p>
              Tamkeentech
             </p>
           </ion-col>
         </ion-row>
        </ion-item>
         <ion-item class="profile-item">
         <ion-row>
           <ion-col width-20>
              <ion-icon name="ios-cash-outline" ></ion-icon>
           </ion-col>
           <ion-col width-70>
             <p>
              100 SAR per Hour
             </p>
           </ion-col>
         </ion-row>
        </ion-item>
        <ion-item class="profile-item">
         <ion-row>
           <ion-col width-20>
              <ion-icon name="ios-time-outline" ></ion-icon>
           </ion-col>
           <ion-col width-70>
             <p>
              4:00 PM - 11:00 PM
             </p>
           </ion-col>
         </ion-row>
        </ion-item>

      </div>
        <div *ngSwitchCase="'review'" >
               <ion-fab top right color="secondary"  (click)="addReview()">
                <button ion-fab mini color="secondary" class="fab-button"><ion-icon name="add"></ion-icon></button>
            </ion-fab>
              <ion-list>
              <ion-item *ngFor="let reviewer of reviewers" >
                <ion-avatar item-left>
                    <img [src]="reviewer.customer.image">
                  </ion-avatar>
                <h2>{{reviewer.customer.first_name}}</h2>
                <p>
                  <ion-icon name="ios-star" ></ion-icon>
                  <ion-icon name="ios-star" ></ion-icon>
                  <ion-icon name="ios-star" ></ion-icon>
                  <ion-icon name="ios-star" ></ion-icon>
                  <ion-icon name="ios-star" ></ion-icon>
                  </p>
                  <p class="truncate">{{reviewer.comment}}</p>
              
                <button ion-button clear item-right >
                  <ion-icon name="ios-arrow-forward" ></ion-icon>
                </button>
              </ion-item>

            </ion-list>

           
        </div>

</div>


</ion-content>
