<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inbox</ion-title>
   <ion-buttons end>
            <button ion-button icon-only (click)="goHome()">
                <ion-icon name="home"></ion-icon>
            </button>
        </ion-buttons>
  </ion-navbar>
 
</ion-header>

<ion-content padding>
 
  <ion-list>
  <ion-item *ngFor="let item of inbox" (click)="goToChat(item)">
    <ion-avatar item-left>
        <img [src]="item.img">
      </ion-avatar>
    <h2>{{item.name}}</h2>
    <p item-right>
      {{item.time}}
    </p>
    <p>{{item.lastmessage}}</p>
    
  
    
  </ion-item>

</ion-list>
</ion-content>
