<ion-header >
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title floating>
       {{subcategory.title}} 
      </ion-title>

   <ion-buttons end>
     <button ion-button icon-only (click)="goHome()">
       <ion-icon name="home"></ion-icon>
     </button>
     
  </ion-buttons>
  </ion-navbar>
 
  <ion-toolbar color="secondary">
        <ion-title>
        <div class="line-break">Tell us what you need done.</div>
        </ion-title>
        
  </ion-toolbar>
</ion-header>


<ion-content padding>

<ion-card *ngFor="let quetion of quetions" >

 <ion-list *ngIf="quetion.tasktype_id === 1" class="wrapping-list">
    <ion-list-header class="header-title" >{{quetion.name}}</ion-list-header>
    <ion-item *ngFor="let item of quetion.items" >
      <span item-left class="dot"></span>
      <ion-label >{{item.name}}</ion-label>
      <ion-checkbox [(ngModel)]="item.ischecked" color="secondary"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list radio-group *ngIf="quetion.tasktype_id === 2" [(ngModel)]="quetion.value">
    <ion-list-header class="header-title">{{quetion.name}}</ion-list-header>    
  <ion-item  *ngFor="let item of quetion.items" >
    <ion-label >  {{item.name}} </ion-label>
    <ion-radio [(value)]="item.name" [(checked)]= "item.ischecked" color="secondary" ></ion-radio>
  </ion-item>
 
</ion-list>

 <!--<ion-list *ngIf="quetion.tasktype_id === 3">-->
    <!--<ion-list-header class="header-title">{{quetion.name}}</ion-list-header>-->
  <!--<ion-item >-->
    <!--<ion-textarea [(ngModel)]="quetion.value"></ion-textarea>-->
  <!--</ion-item>-->

<!--</ion-list>-->

</ion-card>



    <!--<ion-list >-->
        <!--<ion-list-header class="header-title">test</ion-list-header>-->
        <!--<ion-item   >-->
            <!--<ion-label >  test1 </ion-label>-->
            <!--<ion-radio value="test 1" [(checked)]= "item1" color="secondary" ></ion-radio>-->
        <!--</ion-item>-->
        <!--<ion-item  >-->
            <!--<span item-left class="dot"></span>-->
            <!--<ion-label >1</ion-label>-->
            <!--<ion-checkbox [(ngModel)]="item2" color="secondary"></ion-checkbox>-->

        <!--</ion-item>-->

    <!--</ion-list>-->




<ion-fab top right edge color="secondary">
    <button ion-fab mini color="secondary" class="fab-button"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab color="secondary" (click)="getImg()"><ion-icon name="ios-image"></ion-icon></button>
      <button ion-fab color="secondary" (click)="getCamera()"><ion-icon name="ios-camera"></ion-icon></button>    
    </ion-fab-list>
</ion-fab>
<button ion-button block type="submit"  (click)="goToMap()" >Continue ... </button>


</ion-content>